.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #0b0f1a;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 1s ease;
}

.loader-text {
  font-family: 'Playfair Display', serif;
  font-size: 42px;
  color: #e6c068;
  letter-spacing: 3px;
}
